


.main-body{
    width: 100%;
    min-height: 102vh  ;
    background-color: rgb(0, 0, 0);
    padding: 3vh 10vw;
    border-bottom-left-radius: 2em; 
    border-bottom-right-radius: 2em; 
    text-align: justify;
    /* transform: translate(20px 0px 0px 0px); */

}
footer {
    height: 5vh;    
}

header {
/* 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); */

    width: 100%;
 
    padding: 10px;
    height: 10vh;
}


.main-footer {

    align-content: center;
    padding: 25px;
    padding-left: 50px;

    
}




.landing {
    font-size: 15vh;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    line-height: 97%;
    color: white;
    /* padding: 1rem 0; */
}


@media screen and (max-device-width: 500px)
{

    .landing{
        font-size: 5vh;

    }

}


.navbar-items {
    /* display: block; */
    float: right;
    /* margin-right: 15px; */
    padding: 8px;
    font-weight: lighter;
    font-size: 18px;
    color: rgb(173, 173, 173);

}

.navbar-items:hover {
    color: rgb(145, 114, 174);
}   


a {
    text-decoration: none;
}




/* Scroll behaviour */
@media (min-height: 30em) {
    main {
        scroll-snap-type: y proximity;
        scroll-behavior: smooth;
        height: 100vh;
        overflow-y: scroll;
        background-color: rgb(225, 225, 225);
        /* background-color: rgb(60, 60, 60); */
        /* width: 80vw; */

        align-items: center;
    };
    .section {
        height: 100vh;
    };
}

.section {
    

    /* scroll-snap-align: start; */
    /* position:relative; */
    scroll-snap-align: start;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    padding: 20px;
    
} 



.fade-in {
    animation: fadeInAnimation ease 1s;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.project-block {
    line-height: 5rem ;
    background-color: rgb(225, 225, 225);
    /* border-radius: 2%;
    box-shadow: 2 2;
    
    /*width: inherit;
    min-height: 6 vh; */
    margin: 2%;
}






.techstack-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    margin-bottom: 25px;
    line-height: 2em; 
}

.techstack-item {
    color: rgb(80, 80, 80);
    min-width: fit-content;
    min-height: fit-content;
    border-style: solid;
    border: .5;
    border-color: rgb(80, 80, 80);
    border-radius: 2em;
    
    font: 14px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;

    margin-left: 10px; 
    margin-top: 10px; 
    
}

.fancy-btn {
    border-style: solid;
    border: .5;
    border-color: grey;
    padding: 1rem;
    border-radius: 5em;
    
    
    margin: 25px 0 ;
    color: grey;
    background-color: rgb(225, 225, 225);
}


.fancy-btn:hover {
    background-color: rgb(214, 203, 225);
    color: rgb(57, 23, 72);
    border-color: rgb(57, 23, 72);
}

.project-des {
    padding: 50px;
}

.col {
    flex-direction: column;
    flex:50%;
    padding: 10px;
    box-sizing: border-box;
}
.row {
    display: flex;
}

main::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* @media (max-width:450px){
    
    .main{
        box-sizing: border-box!important;
        background-color: black;
    }
    
    .col {
        
        flex:100%;
        padding: 10px; 
    };
    .row{
        flex-wrap: wrap;
    };
    
} */



/* nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
}

nav a.active {
    opacity: 1;
} */



.navbars {
    background-color: rgb(225, 225, 225);

    min-width: 5vw;
    height: 90vh;

    display: flex;
    justify-content: end;
    align-items: center ;
    left: 0;
}


.sidebar {
    
    display: flexbox;
    
    background-color: rgb(225, 225, 225);
    
    align-content: stretch;
    justify-content: center;


}

/* Style for the dots */
.dot {
    height: 10px;
    width: 10px;
    margin: 15px auto;
    color: rgb(157, 157, 157);
    font-size: large;
    /* border-radius: 50%;
    background-color: #bbb; */
}


/* .active {
color: #2f2f2f;
font-weight: bolder;
} */

.dot:hover{
    font-weight: bolder;
    color: rgb(57, 23, 72);

}


.tests{
    background-color:  rgb(225, 225, 225);
    width: 100%;
}


img{


    background-color: rgb(216, 216, 216);
    margin-top: 18px;
    padding: 1px;
}