


.main-body{
    width: 100%;
    min-height: 102vh  ;
    background-color: rgb(0, 0, 0);
    padding: 3vh 10vw;
    border-bottom-left-radius: 3em; 
    border-bottom-right-radius: 3em; 
    text-align: justify;
    /* transform: translate(20px 0px 0px 0px); */

}
footer {
    height: 10vh;    
}

header {
/* 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); */
    width: 100%;
    /* position: fixed;     */
    padding: 1em;
    height: 10vh;
}


.main-footer {

    align-content: center;
    padding: 25px;
    padding-left: 50px;

    
}




.landing {
    font-size: 18vh;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    line-height: 97%;
    color: white;
    /* padding: 1rem 0; */
}


@media screen and (max-device-width: 480px)
{

    .landing{
        font-size: 8vh;

    }

}


.navbar-items {
    /* display: block; */
    float: right;
    /* margin-right: 15px; */
    padding: 8px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(151, 151, 151);

}

.navbar-items:hover {
    color: rgb(145, 114, 174);
}   


a {
    text-decoration: none;
}



/* Scroll behaviour */
@media (min-height: 30em) {
    main {
        scroll-snap-type: y mandatory;
        height: 100vh;
        overflow-y: scroll;
        background-color: rgb(225, 225, 225);
        width: 100vw;
    };
    .section {
        height: 100vh;
        
    
    };
}

.section {

    /* position: inherit; */
    /* scroll-snap-align: start; */
    scroll-snap-align: start;
    width:100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.fade-in {
    animation: fadeInAnimation ease 1s;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
}


.project-block {
    line-height: 5rem ;
}






.techstack-list{
    display: inline-block;
    margin-top: 1em;
    line-height: 2em; 
}

.techstack-item {
    color: rgb(80, 80, 80);
    float: left;

    border-style: solid;
    border: .5;
    border-color: rgb(80, 80, 80);
    border-radius: 2em;
    
    font: 14px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 10px; 

}

.fancy-btn {
    border-style: solid;
    border: .5;
    border-color: grey;
    padding: 1rem;
    border-radius: 5em;


    margin: 25px 0 ;
    color: grey;
    background-color: rgb(225, 225, 225);
}


.fancy-btn:hover {
    background-color: rgb(214, 203, 225);
    color: rgb(57, 23, 72);
    border-color: rgb(57, 23, 72);
}

.project-des {
    padding: 25vh;
}

.col {
    flex-direction: column;
    flex:50%;
    padding: 10px;
    box-sizing: border-box;
}
.row {
    display: flex;
}

main::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

@media (max-width:450px){

    .main{
        box-sizing: border-box!important;
        background-color: black;
    }

    .col {
        
        flex:100%;
        padding: 10px; 
    };
    .row{
        flex-wrap: wrap;
    };

}